body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    font-weight: normal;
}

footer {
    background-color: #282c34;
    padding: 10px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}

.gallery img {
    max-width: 100%;
    height: auto;
}
